<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello page</title>
</head>
<body>

<h1>Hello</h1>

<table>
    <thead>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Nom d'utilisateur</th>
        <th>Date de naissance</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${users}">
        <td th:text="${item.firstName}"></td>
        <td th:text="${item.lastName}"></td>
        <td th:text="${item.username}"></td>
        <td th:text="${item.birthday}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
